body {
	margin: 0;
	padding: 0;

}

.container-fluid {

	width: 100%;
	margin: 0;
	padding: 0;
}

ul {
	height: 70px;
	width: 100%;
	list-style-type: none;
	margin: 0;
	padding-left: 50px;
	display: flex;
	justify-content: space-between;
	background-color: white;
	text-decoration: none;
}


a {color: #fac536;
	text-decoration: none;
}

li a {
	width: 100%;
	display: block;
	color: rgb(0, 0, 0);
	text-align: center;
	padding: 14px 16px;
	padding-left: 200px;
	text-decoration: none;
}

/*
.fl,.sl,.thl{width: 100px;}
.fol{padding-right: 300px;}
*/

.nav {

	z-index: 1;
	width: 100%;
	display: flex;
	padding-top: 10px;
	justify-content: center;
	flex: row;
	position: sticky;
}


li a:hover {
	width: 100%;
	background-color: white;
}

.logo {

	height: 115px;
	width: 70px;
	padding-bottom: 50px;
}


.backimg {
	background: url('../img/kuk.jpg') no-repeat;
	background-size: cover;
	display: flex;
	justify-content: center;
	padding-top: 300px;
	height: 1000px;

}

.insert {
	border: solid 1px rgb(141, 140, 140);
	outline: solid 10px rgb(51, 51, 63);
	background-color: rgb(51, 51, 63);
	width: 700px;
	height: 300px;
	border: 2px solid black;
	border: 1px solid grey;
	background-color: rgb(51, 51, 63);
}



.firstline {
	font-size: 15px;
	padding-top: 40px;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	color: rgb(199, 199, 199);
	text-align: center;
}

.secondline {

	font-family: Verdana, Geneva, Tahoma, sans-serif;
	color: rgb(199, 199, 199);
	text-align: center;
}

.thirdline {
	font-size: 18px;
	margin-top: 25px;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	color: rgb(199, 199, 199);
	text-align: center;
}


a.glo{
	color:#557c86;
	padding: 10px 20px;
	width:150px;
	text-decoration:none;
	text-align:center;
	margin:20px auto;
	display: block;
	background-image: linear-gradient(to left,transparent,transparent 50%,#557c86 50%,#557c86);
	background-position: 100% 0;
	background-size: 200% 100%;
	transition: all .25s ease-in;
	font: 400 18px tahoma;
	border: 1px solid #557c86;
   }
   a.glo:hover {
   background-position: 0 0;
   color:#fff;
   }




.justtry {
	display: flex;
	padding-left: 250px;
	padding-top: 100px;
	flex-direction: space-between;
}

.forh {
	font-size: 30px;
	color: rgb(123, 31, 162)
}

.textp {
	padding-top: 30px;
	color: #a7a7a7;
}

.textforlogo {
	padding-left: 80px;
	padding-right: 200px;
}

.formedia {
	width: 100%;
}

.kach {
	display: flex;

	flex-direction: space-between;
}

.firststar {
	font-size: 50px;
	padding-top: 50px;
	padding-left: 660px;
}

.kachestvo {
	font-weight: bold;
	font-size: 14px;
	padding-bottom: 50px;
	padding-left: 30px;
	color: black;
}

.forkach {
	padding-top: 50px;
	padding-right: 100px;
	color: #a7a7a7;
}

.tastes {
	display: flex;

	flex-direction: space-between;
}

.sectstar {
	font-size: 50px;
	padding-top: 50px;
	padding-left: 660px;
}

.taste {
	font-weight: bold;
	font-size: 14px;
	padding-bottom: 50px;
	padding-left: 30px;
	color: black;
}

.fortaste {
	padding-top: 50px;
	padding-left: 35px;
	padding-right: 100px;
	color: #a7a7a7;
}

.gost {
	display: flex;

	flex-direction: space-between;
}

.thirdstar {
	font-size: 50px;
	padding-top: 50px;
	padding-left: 660px;
}

.igost {
	font-weight: bold;
	font-size: 14px;
	padding-bottom: 50px;
	padding-left: 31px;
	color: black;
}

.forgost {
	padding-top: 50px;
	padding-left: 35px;
	padding-right: 100px;
	color: #a7a7a7;
}

.bagrscr {
	background: url('../img/backgr.jpg') no-repeat;
	background-size: cover;
	height: 120px;
}

.offer {
	text-align: center;
	padding-top: 30px;
	color: rgb(48, 63, 159);
	font-size: 30px;
}

.foroffer {
	text-align: center;
	color: black;
	font-size: 20px;
}

.face {
	display: flex;
	align-items: center;
	flex-direction: space-between;
}

.vitpaloch {
	padding-left: 550px;
}

.hochpal {
	padding-top: 25px;
}

hr {
	margin-top: 50px;
	width: 30%;
	border: none;
	background-color: #f7b70b;
	color: #f7b70b;
	height: 2px;
}

.we {
	padding-top: 23px;
	text-align: center;
	font-size: 21px;
	color: rgb(26, 35, 126);
	font-weight: bold;
}


.wall {
	background: url('../img/wall.jpg') no-repeat;
	background-size: cover;
	height: 520px;
	padding-top: 90px;
}

.ramka {
	margin-top: 50px;
	color: #f7b70b;
	text-align: center;
	width: 800px;
	height: 120px;
	border: 6px solid;
	margin: auto;
}

.voprosu {
	font-size: 25px;
	padding-top: 30px;
	color: #6639b6;
	font-weight: 500;
	text-align: center;
}

.forphone {
	color: #f7b70b;
	font-size: 70px;
}

.mailphone {
	color: #f7b70b;
	font-size: 70px;
}

.mapphone {
	color: #f7b70b;
	font-size: 70px;
}

.phonename {
	color: #a7a7a7;
	font-size: 15px;
}

.emailname {
	color: #a7a7a7;
	font-size: 15px;
}

.mapname {
	color: #a7a7a7;
	font-size: 15px;
}

.phonenumber {
	color: rgb(255, 187, 0);
	font-size: 13px;
}

.emailnumber {
	color: rgb(255, 187, 0);
	font-size: 15px;
}

.mapnumber {
	color: rgb(255, 187, 0);
	font-size: 15px;
}

.contacts {
	padding-top: 50px;
	display: flex;
	flex-direction: space-between;
}

.phone {
	text-align: center;
	padding-right: 100px;
	padding-left: 550px;
}

.email {
	border-left: 2px solid #f7b70b;
	;
	border-right: 2px solid #f7b70b;
	padding-left: 100px;
	padding-right: 100px;
	text-align: center;
}

.map {
	text-align: center;
	padding-left: 100px;
	width: 300px;
}

.owl-carousel { 
	padding-top: 30px;
}

.pickor {
	width: 100px;
	height: 100px;
	margin-bottom: 40px;
}

.pickvit {
	padding-top: 20px;
	width: 100px;
	height: 100px;
}

.pickbigzz {
	padding-top: 30px;
	width: 100px;
	height: 100px;
}

.pickrubl {
	padding-top: 10px;
	width: 100px;
	height: 100px;
}

//burger

.navBurger {
	visibility: hidden;
	position: fixed;
	right: 20px;
	top: 20px;
	cursor: pointer;
	background: #111;
	box-sizing: border-box;
	background-clip: content-box;
	width: 30px;
	height: 26px;
	border-top: 11px solid transparent;
	border-bottom: 11px solid transparent;
	-webkit-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: all 0.25s ease-in-out;
	transition: all 0.25s ease-in-out;

	&:before,
	&:after {
		content: "";
		position: absolute;
		background: #111;
		height: 2px;
		width: 100%;
		right: 0;
		will-change: rotate;
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
		-webkit-transition: all 0.5s ease;
		transition: all 0.5s ease;
	}

	&:before {
		top: -10px;
	}

	&:after {
		bottom: -10px;
		width: 90%;
	}

	&.active {
		background: transparent;
		background-clip: content-box;
	}

	&.active:before {
		-webkit-transform: rotate(135deg);
		transform: rotate(135deg);
		top: 0;
		background: black;
		width: 110%;
	}

	&.active:after {
		bottom: 0;
		-webkit-transform: rotate(-135deg);
		transform: rotate(-135deg);
		background: black;
		width: 110%;
	}
}

.overlay {
	position: fixed;
	background: #2a3140;
	top: 0;
	right: 0;
	width: 100%;
	height: 70%;
	opacity: 0;
	transform-origin: right top;
	transform: scale(0);
	visibility: hidden;
	transition: all 0.4s ease-in-out;
	overflow: hidden;

	&.open {
		opacity: 0.99;
		visibility: visible;
		transform: scale(1);

		li {
			display: block;
			animation: fadeInRight 0.4s cubic-bezier(0.42, 0.83, 0.7, 1.5) forwards;
			animation-delay: 0.4s;
			transform: rotate(-7deg);
			transform-origin: right bottom;

			&:nth-of-type(2) {
				animation-delay: 0.5s;
			}

			&:nth-of-type(3) {
				animation-delay: 0.6s;
			}

			&:nth-of-type(4) {
				animation-delay: 0.7s;
			}

			&:nth-of-type(5) {
				animation-delay: 0.8s;
			}
		}
	}
}

.overlayMenu {
	position: absolute;
	text-align: right;
	right: 8vw;
	bottom: 10vw;

	ul {
		background: rgba(255, 255, 255, 0.03);
		list-style: none;
		padding: 0;
		margin: 0 auto;
		display: block;
		position: relative;
		height: 100%;

		li {
			display: block;
			position: relative;
			opacity: 0;
			width: 100%;

			a {
				display: inline-block;
				border: 1px solid rgba(255, 255, 255, 0.09);
				color: white;
				text-decoration: none;
				font-size: 30px;
				padding: 10px 40px 10px 40px;
				margin: 5px 0;
				transition: 0.2s;

				&:hover,
				&:active,
				&:focus {
					transform: translateX(-2px);
					padding-left: 80px;
					outline: 1px solid rgba(255, 255, 255, 0.3);
					background: rgba(255, 255, 255, 0.03);
				}
			}
		}
	}
}

.locked {
	overflow: hidden;
}

#toTop {
	width: 100%;
	height: 100vh;
	background: linear-gradient(to left, #eec24a, #ffe570);
  }
  #toTop {
	position: absolute;
    left: 90%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    width: 59px;
    height: 60px;
    text-align: center;
    line-height: 60px;
    font-family: sans-serif;
    font-size: 24px;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    -webkit-transition: .5s;
    transition: .5s;
    box-shadow: 0 5px 20px rgba(0,0,0,.5);
    overflow: hidden;
  }
  #toTop-btn::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(to left,#eec24a, #ffe570);
	z-index: -1;
	border-radius: 60px;
	transform: scaleX(0);
	transform-origin: right;
	transition: transform .5s ease-in-out;
  }
  #toTop-btn:hover::before {
	transform: scaleX(1);
	transform-origin: left;
  }

@keyframes fadeInRight {
	0% {
		opacity: 0;
		left: 50px;
	}

	100% {
		opacity: 1;
		left: 0;
		transform: rotate(0deg);
	}

}

@media screen and (max-width: 1320px) {

	.fl,
	.sl,
	.thl {
		width: 50px;
	}

	.fol {
		padding-right: 100px;
	}
}

@media screen and (min-width: 1200px) {
	.backimg {
		display: flex;
		justify-content: center;
		padding-top: 400px;
		height: 1200px;
	}

	.insert {
		border: solid 1px rgb(141, 140, 140);
		outline: solid 10px rgb(51, 51, 63);
		background-color: rgb(51, 51, 63);
		width: 700px;
		height: 251px;
		border: 2px solid black;
		border: 1px solid grey;
		background-color: rgb(51, 51, 63);
	}


	.face {
		display: flex;
		-webkit-box-pack: center;
		justify-content: center;

	}

	.vitpaloch {
		padding-left: 10px;
	}



	.contacts {
		padding-left: 1px;
		padding-top: 50px;
		display: flex;
		-webkit-box-pack: center;
		justify-content: center;
	}

	.ramka {
		margin-top: 50px;
		color: #f7b70b;
		text-align: center;
		width: 400px;
		height: 120px;
		border: 6px solid;
		margin: auto;
	}

	.forkach,
	.forgost,
	.fortaste {
		padding-right: 1px;
	}

	.voprosu {
		padding-top: 1px;
	}

	.phone {
		text-align: center;
		padding-right: 100px;
		padding-left: 1px;
		width: 200px;
	}

	.email {
		border-left: 2px solid #f7b70b;
		border-right: 2px solid #f7b70b;
		padding-left: 50px;
		padding-right: 50px;
		text-align: center;
		width: 250px;
	}

	.map {
		text-align: center;
		padding-left: 100px;
		width: 200px;
	}

	.wall {
		height: 600px;
	}

	
	.malito,.teltel:link {
		color: #f7b70b
	}


	.logotwo {
		width: 310px;
	}



	.owl-carousel {
		display: none;
	}

	.textforlogo {
		padding-right: 1px;
		padding-left: 10px;
	}

	.navBurger {
		visibility: hidden;
	}
}

@media screen and (max-width: 1140px) {
	.contacts {
		padding-left: 200px;
	}
    a.glo{padding: 4px 20px;}
	.face {
		margin-left: 200px;
		display: flex;
		align-items: center;
		flex-direction: space-between;
	}

	.navBurger {
		visibility: hidden;
	}
}

@media screen and (max-width: 1199px) {
	.backimg {
		display: flex;
		justify-content: center;
		padding-top: 400px;
		height: 1200px;
	}

	.navBurger {
		visibility: hidden;
	}

	.insert {
		border: solid 1px rgb(141, 140, 140);
		outline: solid 10px rgb(51, 51, 63);
		background-color: rgb(51, 51, 63);
		width: 500px;
		height: 230px;
		border: 2px solid black;
		border: 1px solid grey;
		background-color: rgb(51, 51, 63);
	}



	.face {
		margin-left: 260px;
		display: flex;
		align-items: center;
		flex-direction: space-between;

	}

	.vitpaloch {
		padding-left: 10px;
	}

	.vitfors {
		width: 310px;
	}

	.hochfors {
		width: 280px;
		padding-left: 50px;
	}

	.contacts {
		padding-left: 270px;
		padding-top: 50px;
		display: flex;
		flex-direction: space-between;
		flex-wrap: wrap;
	}

	.ramka {
		margin-top: 50px;
		color: #f7b70b;
		text-align: center;
		width: 400px;
		height: 120px;
		border: 6px solid;
		margin: auto;
	}

	.forkach,
	.forgost,
	.fortaste {
		padding-right: 1px;
	}

	.voprosu {
		padding-top: 1px;
	}

	.phone {
		text-align: center;
		padding-right: 100px;
		padding-left: 1px;
		width: 200px;
	}

	.email {
		border-left: 2px solid #f7b70b;
		border-right: 2px solid #f7b70b;
		padding-left: 50px;
		padding-right: 50px;
		text-align: center;
		width: 250px;
	}

	.map {
		text-align: center;
		padding-left: 100px;
		width: 200px;
	}

	.wall {
		height: 600px;
	}


	.logotwo {
		width: 310px;
	}



	.owl-carousel {
		display: none;
	}

	.textforlogo {
		padding-right: 1px;
		padding-left: 10px;
	}

	.navBurger {
		visibility: hidden;
	}
}

@media screen and (max-width: 1140px) {
	.contacts {
		padding-left: 200px;
	}

	.fl,
	.sl,
	.thl,
	.fol {
		display: none;
	}

	.face {
		margin-left: 200px;
		display: flex;
		align-items: center;
		flex-direction: space-between;
	}

	.navBurger {
		visibility: visible;
	}
}

@media screen and (max-width: 960px) {
	.backimg {
		display: flex;
		justify-content: center;
		padding-top: 400px;
		height: 1200px;
	}

	.insert {
		border: solid 1px rgb(141, 140, 140);
		outline: solid 10px rgb(51, 51, 63);
		background-color: rgb(51, 51, 63);
		width: 500px;
		height: 230px;
		border: 2px solid black;
		border: 1px solid grey;
		background-color: rgb(51, 51, 63);
	}

	.justlogo {
		margin: auto;
	}

	.justtry {
		display: flex;
		padding-left: 1px;
		padding-top: 1px;
		flex-direction: space-between;
		flex-wrap: wrap;
	}

	.bagrscr {
		height: 150px;
	}

	.firststar,
	.sectstar,
	.thirdstar {
		display: none;

	}

	.face {
		margin-left: 150px;
		display: flex;
		align-items: center;
		flex-direction: space-between;

	}

	.vitpaloch {
		padding-left: 10px;
	}

	.vitfors {
		width: 310px;
	}

	.hochfors {
		width: 280px;
		padding-left: 50px;
	}

	.contacts {
		padding-left: 150px;
		padding-top: 50px;
		display: flex;
		flex-direction: space-between;
		flex-wrap: wrap;
	}

	.ramka {
		margin-top: 50px;
		color: #f7b70b;
		text-align: center;
		width: 400px;
		height: 120px;
		border: 6px solid;
		margin: auto;
	}

	.forkach,
	.forgost,
	.fortaste {
		padding-right: 1px;
	}

	.voprosu {
		padding-top: 1px;
	}

	.phone {
		text-align: center;
		padding-right: 100px;
		padding-left: 1px;
		width: 200px;
	}

	.email {
		border-left: 2px solid #f7b70b;
		border-right: 2px solid #f7b70b;
		padding-left: 50px;
		padding-right: 50px;
		text-align: center;
		width: 250px;
	}

	.map {
		text-align: center;
		padding-left: 100px;
		width: 200px;
	}

	.wall {
		height: 600px;
	}

	.fl,
	.sl,
	.thl,
	.fol {
		display: none;
	}

	.logotwo {
		width: 310px;
	}


	.textforlogo {
		padding-right: 1px;
		padding-left: 10px;
	}

	.navBurger {
		visibility: hidden;
	}
}

@media screen and (max-width: 860px) {
	.contacts {
		padding-left: 100px;
		display: flex;
		flex-direction: space-between;
		flex-wrap: wrap;
	}

	.face {
		margin-left: 100px;
		display: flex;
		align-items: center;
		flex-direction: space-between;
	}

	.navBurger {
		visibility: visible;
	}
}



@media screen and (max-width: 768px) {
	.backimg {
		display: flex;
		justify-content: center;
		padding-top: 400px;
		height: 1200px;
	}

	.insert {
		border: solid 1px rgb(141, 140, 140);
		outline: solid 10px rgb(51, 51, 63);
		background-color: rgb(51, 51, 63);
		width: 500px;
		height: 230px;
		border: 2px solid black;
		border: 1px solid grey;
		background-color: rgb(51, 51, 63);
	}

	.justlogo {
		margin: auto;
	}

	.justtry {
		display: flex;
		padding-left: 1px;
		padding-top: 1px;
		flex-direction: space-between;
		flex-wrap: wrap;
	}

	.bagrscr {
		height: 150px;
	}

	.firststar,
	.sectstar,
	.thirdstar {
		display: none;

	}

	.face {
		margin-left: 50px;
		display: flex;
		align-items: center;
		flex-direction: space-between;

	}

	.vitpaloch {
		padding-left: 10px;
	}

	.vitfors {
		width: 310px;
	}

	.hochfors {
		width: 280px;
		padding-left: 50px;
	}

	.contacts {
		padding-left: 50px;
		padding-top: 50px;
		display: flex;
		flex-direction: space-between;
		flex-wrap: wrap;
	}

	.ramka {
		margin-top: 50px;
		color: #f7b70b;
		text-align: center;
		width: 400px;
		height: 120px;
		border: 6px solid;
		margin: auto;
	}

	.forkach,
	.forgost,
	.fortaste {
		padding-right: 1px;
	}

	.voprosu {
		padding-top: 1px;
	}

	.phone {
		text-align: center;
		padding-right: 100px;
		padding-left: 1px;
		width: 200px;
	}

	.email {
		border-left: 2px solid #f7b70b;
		border-right: 2px solid #f7b70b;
		padding-left: 50px;
		padding-right: 50px;
		text-align: center;
		width: 250px;
	}

	.map {
		text-align: center;
		padding-left: 100px;
		width: 200px;
	}

	.wall {
		height: 600px;
	}

	.fl,
	.sl,
	.thl,
	.fol {
		display: none;
	}

	.logotwo {
		width: 310px;
	}



	.owl-carousel {
		display: none;
	}

	.textforlogo {
		padding-right: 1px;
		padding-left: 10px;
	}

	.navBurger {
		visibility: visible;
	}
}

@media screen and (max-width: 700px) {
	.backimg {
		display: flex;
		justify-content: center;
		padding-top: 300px;
		height: 1000px;
	}

	.contacts {
		padding-left: 30px;
		padding-top: 50px;
		display: flex;
		flex-direction: space-between;
		flex-wrap: wrap;
	}

	.email {
		border-left: 2px solid #f7b70b;
		border-right: 2px solid #f7b70b;
		padding-left: 10px;
		padding-right: 10px;
		text-align: center;
		width: 170px;
	}

	.face {
		margin-left: 180px;
		display: -webkit-box;
		display: flex;
		-webkit-box-align: center;
		align-items: center;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		flex-direction: space-between;
		flex-wrap: wrap;
	}

}

@media screen and (max-width: 600px) {
	.backimg {
		display: flex;
		justify-content: center;
		padding-top: 300px;
		height: 1000px;
	}

	.contacts {
		padding-left: 1px;
		padding-top: 50px;
		display: flex;
		flex-direction: space-between;
		flex-wrap: wrap;
	}

	.email {
		border-left: 2px solid #f7b70b;
		border-right: 2px solid #f7b70b;
		padding-left: 10px;
		padding-right: 10px;
		text-align: center;
		width: 170px;
	}

	.face {
		margin-left: 180px;
		display: -webkit-box;
		display: flex;
		-webkit-box-align: center;
		align-items: center;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		flex-direction: space-between;
		flex-wrap: wrap;
	}

	.phone {
		text-align: center;
		padding-right: 20px;
		padding-left: 1px;
		width: 200px;
	}

	.map {
		text-align: center;
		padding-left: 20px;
		width: 200px;
	}

}

@media screen and (max-width: 575px) {
	.backimg {
		display: flex;
		justify-content: center;
		padding-top: 300px;
		height: 1000px;
	}

	.insert {
		border: solid 1px rgb(141, 140, 140);
		outline: solid 10px rgb(51, 51, 63);
		background-color: rgb(51, 51, 63);
		width: 300px;
		height: 255px;
		border: 2px solid black;
		border: 1px solid grey;
		background-color: rgb(51, 51, 63);
	}

	.justlogo {
		margin: auto;
	}

	.justtry {
		display: flex;
		padding-left: 1px;
		padding-top: 1px;
		flex-direction: space-between;
		flex-wrap: wrap;
	}

	.bagrscr {
		height: 150px;
	}

	.firststar,
	.sectstar,
	.thirdstar {
		display: none;

	}

	.face {
		margin-left: 70px;
		display: flex;
		align-items: center;
		flex-direction: space-between;
		flex-wrap: wrap;
	}

	.vitpaloch {
		padding-left: 10px;
	}

	.vitfors {
		width: 310px;
	}

	.hochfors {
		width: 280px;
		padding-left: 50px;
	}

	.contacts {
		padding-left: 130px;
		padding-top: 50px;
		display: flex;
		flex-direction: space-between;
		flex-wrap: wrap;
	}

	.ramka {
		margin-top: 50px;
		color: #f7b70b;
		text-align: center;
		width: 350px;
		height: 120px;
		border: 6px solid;
		margin: auto;
	}

	.forkach,
	.forgost,
	.fortaste {
		padding-right: 1px;
	}

	.voprosu {
		padding-top: 1px;
	}

	.phone {

		padding-left: 120px;
	}

	.email {
		width: 320px;
		padding-left: 1px;
		border: none;
	}

	.map {
		padding-left: 105px;
	}

	.wall {
		height: 1000px;
	}

	.fl,
	.sl,
	.thl,
	.fol {
		display: none;
	}

	.logotwo {
		width: 310px;
	}



	.owl-carousel {
		display: none;
	}

	.textforlogo {
		padding-right: 1px;
		padding-left: 10px;
	}

	.navBurger {
		visibility: visible;
	}
}

@media screen and (max-width: 450px) {
	.backimg {
		display: flex;
		justify-content: center;
		padding-top: 300px;
		height: 1000px;
	}

	.contacts {
		padding-left: 50px;
		display: flex;
		flex-direction: space-between;
		flex-wrap: wrap;
	}

	.face {
		margin-left: 50px;
	}

	.phone {
		padding-left: 120px;
	}

	.email {
		padding-left: 1px;
	}

	.map {
		padding-right: 5px;
	}

	.textfornumber {
		width: 100px;
	}
}

@media screen and (max-width: 400px) {
	.backimg {
		display: flex;
		justify-content: center;
		padding-top: 180px;
		height: 1000px;
	}

	.face {
		margin-left: 25px;
	}

	.bagrscr {
		height: 170px;
	}

	.overlay {
		padding-right: 40px;
		position: fixed;
		background: #2a3140;
		top: 0;
		right: 0;
		width: 100%;
		height: 70%;
		opacity: 0;
		-webkit-transform-origin: right top;
		transform-origin: right top;
		-webkit-transform: scale(0);
		transform: scale(0);
		visibility: hidden;
		-webkit-transition: all .4s ease-in-out;
		transition: all .4s ease-in-out;
		overflow: hidden;
	}
}

@media screen and (max-width: 350px) {
	.backimg {
		display: flex;
		justify-content: center;
		padding-top: 200px;
		height: 700px;
	}


	.ramka {
		margin-top: 50px;
		color: #f7b70b;
		text-align: center;
		width: 320px;
		height: 120px;
		border: 6px solid;
		margin: auto;
	}

	.contacts {
		padding-left: 25px;
	}

	.face {
		margin-left: 1px;
	}
}



@media screen and (max-width: 320px) {
	.backimg {
		display: flex;
		justify-content: center;
		padding-top: 80px;
		height: 700px;
	}

	.insert {
		border: solid 1px rgb(141, 140, 140);
		outline: solid 10px rgb(51, 51, 63);
		background-color: rgb(51, 51, 63);
		width: 200px;
		height: 340px;
		border: 2px solid black;
		border: 1px solid grey;
		background-color: rgb(51, 51, 63);
	}

	.justtry {
		display: flex;
		padding-left: 1px;
		padding-top: 1px;
		flex-direction: space-between;
		flex-wrap: wrap;
	}

	.bagrscr {
		height: 200px;
	}

	.firststar,
	.sectstar,
	.thirdstar {
		display: none;

	}

	.face {
		margin-left: 1px;
		display: flex;
		align-items: center;
		flex-direction: space-between;
		flex-wrap: wrap;
	}

	.vitpaloch {
		padding-left: 1px;
	}

	.vitfors {
		width: 310px;
	}

	.hochfors {
		width: 280px;
		padding-left: 50px;
	}

	.contacts {
		padding-left: 1px;
		padding-top: 50px;
		display: flex;
		flex-direction: space-between;
		flex-wrap: wrap;
	}

	.ramka {
		margin-top: 50px;
		color: #f7b70b;
		text-align: center;
		width: 320px;
		height: 120px;
		border: 6px solid;
		margin: auto;
	}

	.forkach,
	.forgost,
	.fortaste {
		padding-right: 1px;
	}

	.voprosu {
		padding-top: 1px;
	}

	.phone {

		padding-left: 120px;
	}

	.email {
		padding-left: 1px;
		border: none;
	}

	.map {
		padding-left: 100px;
		padding-right: 1px;
	}

	.wall {
		height: 1000px;
	}

	.fl,
	.sl,
	.thl,
	.fol {
		display: none;
	}

	.logotwo {
		width: 310px;
	}

	.formedia {
		width: 320px;
	}

	.owl-carousel {
		display: none;
	}

	.textforlogo {
		padding-right: 1px;
		padding-left: 10px;
	}

	.navBurger {
		visibility: visible;
	}

	.overlay {
		position: fixed;
		background: #2a3140;
		top: 0;
		right: 0;
		width: 100%;
		height: 70%;
		opacity: 0;
		-webkit-transform-origin: right top;
		transform-origin: right top;
		-webkit-transform: scale(0);
		transform: scale(0);
		visibility: hidden;
		-webkit-transition: all .4s ease-in-out;
		transition: all .4s ease-in-out;
		overflow: hidden;
	}

}